/*  Menu movil */
.navbar__mobile-btn{
    display: none;
}

.navbar__mobile-list{
    display: none;
}

@media (max-width: 1024px) {

    /* Layout */
    .layout{
        width: 70%;
        min-width: 74rem;
        margin: 0 auto;
        grid-template-areas: 
            "header header"
            "nav nav"
            "marquee marquee"
            "slider slider"
            "high high"
            "videos videos"
            "carousel carousel"
            "main main"
            "aside aside"
        ;
    }

    .layout__main{
        margin-right: 0rem;
    }

    /* Cabecera */
    .layout__header{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Menu */
    .navbar__list{
        display: none;
    }

    /* Menu movil */

    .navbar__mobile-btn{
        display: flex;
    }

    .navbar__mobile-list{
        display: none;
        position: absolute;
        padding: auto;
        top: 98%;
        width: 100%;
        background-color: var(--color-bg-navbar);
        z-index: 99;
    }

    .mobile-list__item{
        width: 100%;
        padding: 0.5rem 2rem;
        border-bottom: 1px solid var(--color-border-list); 
    }

    .mobile-list__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .mobile-list__link{
        display: block;
        width: 85%;
        font-weight: 400;
        line-height: 3rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: var(--color-principal);
    }

    .mobile-list__icon{
        cursor: pointer;
    }

    .mobile-list__icon .fa-solid{
        color: var(--color-secondary);
        font-size: 1.6rem;
        font-weight: bold;
    }

    /* Submenu movil */
    .mobile-list__mobile-submenu{
        display: none;
    }

    .mobile-submenu__item{
        padding-left: 4rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .mobile-submenu__link{
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 3rem;
        color: var(--color-principal);
        text-transform: uppercase;
    }

    /* Slider */
    .layout__slider {
        grid-template-areas: "slider1 slider3 slider3 slider3"
                             "slider2 slider3 slider3 slider3"
                             "slider4 slider4 slider5 slider5";
    }

    .slider__container--slider2{
        width: 100%;
        height: 21.4rem;
    }

    .slider__container--slider3{
        width: 100%;
        height: 33.8rem;
    }

    .slider__container--slider5{
        width: 100%;
        height: 26rem;
    }

    /* Mejores momentos */
    .highlights__posts {
        flex-wrap: wrap;
    }

    .highlights__post{
        width: calc(50% - 1.5rem);
    }

    /* Videos */
    .videos__container{
        flex-direction: column;
        gap: 0;
    }

    .videos__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .videos__video{
        width: calc(50% - 1rem);
    }

    /* Carrusel */
    .carousel-games__item{
        width: 100%;
    }

    .carousel-games__item--hidden{
        display: none;
    }

    /* Barra lateral */
    .layout__aside{
        margin-bottom: 3rem;
    }

    /* Pie de pagina */
    .footer__container{
        width: 70%;
        min-width: 70rem;
        flex-direction: column;
    }

    .footer__left-container,
    .footer__center-container,
    .footer__right-container{
        width: 100%;
    }

    .footer__slider{
        width: auto;
        height: auto;
    }

    .footer__text{
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 775px){
    /* Layout */
    .layout{
        width: 57%;
        min-width: 57rem;
        margin: 0 auto;
    }

    /* Slider */
    .slider__container--slider2{
        width: 100%;
        height: 14.8rem;
    }

    .slider__container--slider3{
        width: 100%;
        height: 24rem;
    }

    .slider__container--slider5{
        width: 100%;
        height: 20.25rem;
    }

    .slider__category {
        font-size: 1.2rem;
    }

    .slider__link-title{
        font-size: 1.1rem;
    }

    /* Pie de pagina */
    .footer__container{
        width: 52%;
        min-width: 52rem;
        flex-direction: column;
    }
}

@media (max-width: 592px){
    /* Layout */
    .layout{
        width: 100%;
        min-width: 35rem;
        margin: 0 auto;
    }

    /* Slider */
    .layout__slider {
        grid-template-areas: "slider1 slider1 slider1 slider1"
                             "slider2 slider2 slider2 slider2"
                             "slider3 slider3 slider3 slider3"
                             "slider4 slider4 slider4 slider4"
                             "slider5 slider5 slider5 slider5"
                             ;
                             column-gap: 0;
                             grid-template-columns: 100%;
    }

    .slider__container--slider2{
        width: 100%;
        height: auto;
    }

    .slider__container--slider3{
        width: 100%;
        height: auto;
    }

    .slider__container--slider5{
        width: 100%;
        height: auto;
    }

    .slider__category {
        font-weight: bold;
        font-size: 1.7rem;
    }

    .slider__link-title{
        font-size: 1.5rem;
    }

    /* Mejores momentos */
    .highlights__posts {
        flex-direction: row;
    }

    .highlights__post{
        width: 100%;
    }

    /* Videos */
    .main-video__yt-video{
        height: 30rem;
    }
    .videos__list {
        flex-direction: column;
    }

    .videos__video{
        width: 100%;
    }

    /* Carrusel */
    .carousel-games__item--hidden-small{
        display: none;
    }

    /*  Noticias */
    .news__main-post{
        flex-direction: column;
    }

    .news__list{
        flex-direction: column;
    }

    /* Juegos */
    .games__container{
        flex-direction: column;
    }

    .games__game{
        width: 100%;
    }

    /* Posts */
    .posts__container{
        flex-direction: column;
    }

    .posts__post{
        flex-basis: 100%;
    }

    .post__img{
        width: 100%;
    }

    /* Pie de pagina */
    .footer__container{
        width: 30%;
        min-width: 30rem;
    }

    .footer__text{
        width: 100%;
    }
}

@media (max-width: 350px) {
    /* Layout */
    .layout{
        width: 100%;
        min-width: auto;
        margin: 0;
    }

    /* Pie de pagina */
    .footer__container{
        width: 10%;
        min-width: auto;
        margin: 0;
    }
}